/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 640px) {
  /* line 36, ../sass/mobile.scss */
  .on-2 {
    width: 100%;
  }

  /* line 41, ../sass/mobile.scss */
  .on-3 {
    width: 100%;
  }

  /* line 46, ../sass/mobile.scss */
  .on-4 {
    width: 100%;
  }

  /* line 50, ../sass/mobile.scss */
  * {
    box-sizing: border-box;
  }

  /* line 55, ../sass/mobile.scss */
  body {
    background: #666666 url("../images/mobilebg.jpg");
    padding: 0;
    margin: 0;
  }

  /* For dumbass IE. Damn you, M$. */
  /* line 63, ../sass/mobile.scss */
  #content {
    position: relative;
  }

  /* line 67, ../sass/mobile.scss */
  #content {
    background: rgba(118, 142, 140, 0.8);
  }

  /* line 72, ../sass/mobile.scss */
  #landing {
    background: rgba(161, 193, 190, 0.5);
    height: 540px;
    position: relative;
    overflow: hidden;
  }
  /* line 79, ../sass/mobile.scss */
  #landing #header {
    margin-top: 15%;
    display: block;
    font-size: 2em;
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    padding-top: 40px;
  }
  /* line 90, ../sass/mobile.scss */
  #landing #header p {
    margin: 1em;
    line-height: 1.1em;
  }
  /* line 96, ../sass/mobile.scss */
  #landing #header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2em;
  }
  /* line 102, ../sass/mobile.scss */
  #landing #header h1 .jedd {
    font-weight: 500;
    color: black;
  }
  /* line 108, ../sass/mobile.scss */
  #landing #header h1 .ahyoung {
    font-weight: 300;
    color: white;
  }

  /* line 117, ../sass/mobile.scss */
  .video {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 960px;
    height: auto;
    opacity: 0.1;
  }
  /* line 126, ../sass/mobile.scss */
  .video embed {
    width: 100%;
  }

  /* line 133, ../sass/mobile.scss */
  .wrapper {
    width: 100%;
    margin: 0;
    position: relative;
  }

  /* line 140, ../sass/mobile.scss */
  #nav {
    background: white;
    height: 30px;
    margin: 0 0 -15px 0;
    position: relative;
    top: -15px;
  }
  /* line 148, ../sass/mobile.scss */
  #nav ul {
    background: black;
    width: 100%;
    margin: 0;
    padding: .5em 0;
  }
  /* line 155, ../sass/mobile.scss */
  #nav ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 162, ../sass/mobile.scss */
  #nav ul li a {
    margin: 0;
    padding: .5em 2em;
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1em;
  }
  /* line 175, ../sass/mobile.scss */
  #nav ul li a:hover {
    border-bottom: .2em solid white;
    padding-bottom: .3em;
  }

  /* line 186, ../sass/mobile.scss */
  #body {
    min-height: 500px;
    width: 100%;
    overflow: auto;
  }

  /* line 193, ../sass/mobile.scss */
  .chapter {
    text-align: left;
    font-family: 'Muli', 'sans-serif';
    font-weight: 300;
    line-height: 1.4em;
    clear: both;
  }

  /* line 203, ../sass/mobile.scss */
  #main h3 {
    font-family: sans-serif;
    font-variant: small-caps;
    border-bottom: 3px solid red;
  }
  /* line 210, ../sass/mobile.scss */
  #main h4 {
    font-family: serif;
  }
  /* line 215, ../sass/mobile.scss */
  #main a {
    text-decoration: none;
  }
  /* line 219, ../sass/mobile.scss */
  #main a:hover {
    text-decoration: underline;
    color: red;
  }
  /* line 225, ../sass/mobile.scss */
  #main a:visited {
    color: #336633;
  }
  /* line 231, ../sass/mobile.scss */
  #main dt {
    font-style: italic;
    padding: .5em 0 .5em 0;
  }
  /* line 237, ../sass/mobile.scss */
  #main dd.explain {
    margin: 0;
    padding-bottom: .5em;
  }

  /* line 244, ../sass/mobile.scss */
  #resume {
    background: #ebebeb;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  /* line 250, ../sass/mobile.scss */
  #contact {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-top: 10px solid black;
  }
  /* line 255, ../sass/mobile.scss */
  #contact .form-submitted {
    display: block;
    margin: 0 1em;
    padding: .5em 5px 50px;
    background: #000;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
  }
  /* line 262, ../sass/mobile.scss */
  #contact .form-submitted.invalid {
    background: #500;
  }
  /* line 270, ../sass/mobile.scss */
  #contact .form-submitted .thanks {
    font-family: 'Raleway', 'sans-serif';
    font-variant: small-caps;
  }
  /* line 275, ../sass/mobile.scss */
  #contact .form-submitted .thanks span {
    font-size: 1.4em;
  }
  /* line 281, ../sass/mobile.scss */
  #contact .contact-form {
    width: 100%;
  }
  /* line 284, ../sass/mobile.scss */
  #contact .contact-form label {
    display: block;
    margin: 0 1em;
    padding: .5em 5px;
    background: #000;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
  }
  /* line 291, ../sass/mobile.scss */
  #contact .contact-form label.invalid {
    background: #500;
  }
  /* line 295, ../sass/mobile.scss */
  #contact .contact-form label span {
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
    display: block;
    border-bottom: 1px dotted white;
  }
  /* line 303, ../sass/mobile.scss */
  #contact .contact-form input[type="text"], #contact .contact-form input[type="email"] {
    background: transparent;
    color: white;
    border: 0;
    padding: 5px;
    font-size: 1em;
    width: 100%;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
  }
  /* line 312, ../sass/mobile.scss */
  #contact .contact-form input[type="text"]:focus, #contact .contact-form input[type="email"]:focus {
    background: rgba(255, 255, 255, 0.2);
  }
  /* line 317, ../sass/mobile.scss */
  #contact .contact-form textarea {
    background: transparent;
    color: white;
    padding: 5px;
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    border: 0;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
  }
  /* line 327, ../sass/mobile.scss */
  #contact .contact-form textarea:focus {
    background: rgba(255, 255, 255, 0.2);
  }
  /* line 332, ../sass/mobile.scss */
  #contact .contact-form .form-submit {
    margin: 0 1em 3.5em;
  }
  /* line 335, ../sass/mobile.scss */
  #contact .contact-form .form-submit button {
    margin: 0;
    border: 0;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em;
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-family: 'Raleway', 'sans-serif';
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  /* line 348, ../sass/mobile.scss */
  #contact .contact-form .form-submit button:focus, #contact .contact-form .form-submit button:hover {
    background: rgba(192, 192, 192, 0.1);
  }

  /* line 357, ../sass/mobile.scss */
  #sidebar {
    background: #9999bb;
    float: right;
    width: 30%;
    min-height: 30em;
  }

  /* line 365, ../sass/mobile.scss */
  #footer {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    clear: both;
    font-family: sans-serif;
    text-align: center;
    border-top: 10px solid #ebebeb;
  }
  /* line 375, ../sass/mobile.scss */
  #footer .attribution {
    display: none;
  }

  /* line 381, ../sass/mobile.scss */
  .codewrapper {
    background: white;
    padding: 1em;
  }

  /* line 387, ../sass/mobile.scss */
  #about {
    background: white;
    border: 0;
  }

  /* line 392, ../sass/mobile.scss */
  .moneyshot {
    display: none;
    width: 100%;
    height: auto;
    opacity: .2;
    margin-top: -400px;
  }

  /* line 401, ../sass/mobile.scss */
  .column {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  /* line 407, ../sass/mobile.scss */
  .column p {
    margin: 1em;
  }

  /* line 413, ../sass/mobile.scss */
  .caption {
    padding: .5em .5em .5em .5em;
    font-size: 2.2em;
    line-height: 1em;
    font-family: 'Rock Salt', serif;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
  }
  /* line 425, ../sass/mobile.scss */
  .caption span {
    display: block;
  }

  /* line 432, ../sass/mobile.scss */
  a.icon {
    display: inline-block;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 2px;
  }
  /* line 440, ../sass/mobile.scss */
  a.icon:before {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  /* line 445, ../sass/mobile.scss */
  a.icon:hover {
    color: white;
  }
  /* line 450, ../sass/mobile.scss */
  a.icon:hover:before {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
  }

  /* line 457, ../sass/mobile.scss */
  .overflow-container {
    overflow: hidden;
  }

  /* line 462, ../sass/mobile.scss */
  .height-480 {
    max-height: 480px;
  }

  /* line 467, ../sass/mobile.scss */
  .height-360 {
    max-height: 360px;
  }

  /* line 472, ../sass/mobile.scss */
  .height-320 {
    max-height: 320px;
  }

  /* line 477, ../sass/mobile.scss */
  .height-240 {
    max-height: 240px;
  }

  /* line 482, ../sass/mobile.scss */
  .height-160 {
    max-height: 160px;
  }

  /* line 486, ../sass/mobile.scss */
  .resume-page {
    height: 400px;
  }
  /* line 490, ../sass/mobile.scss */
  .resume-page a {
    display: block;
    position: relative;
  }
  /* line 494, ../sass/mobile.scss */
  .resume-page a img {
    width: 100%;
    height: auto;
  }
  /* line 499, ../sass/mobile.scss */
  .resume-page a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent url("../images/pdf.png") no-repeat 40% 20%;
  }

  /* line 512, ../sass/mobile.scss */
  .completely-hidden {
    display: none !important;
  }
}
