/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 640px) {
  /* line 35, ../sass/screen.scss */
  .on-2 {
    width: 480px;
  }
}
@media screen and (max-width: 640px) {
  /* line 35, ../sass/screen.scss */
  .on-2 {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  /* line 41, ../sass/screen.scss */
  .on-3 {
    width: 320px;
  }
}
@media screen and (max-width: 640px) {
  /* line 41, ../sass/screen.scss */
  .on-3 {
    width: 100%;
  }
}

/* line 47, ../sass/screen.scss */
.on-4 {
  width: 240px;
}

/* line 51, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 56, ../sass/screen.scss */
body {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 640px) {
  /* line 56, ../sass/screen.scss */
  body {
    background: #666666 url("../images/landingbg.jpg") fixed;
  }
}
@media screen and (max-width: 640px) {
  /* line 56, ../sass/screen.scss */
  body {
    background: #666666;
  }
}

/* For dumbass IE. Damn you, M$. */
/* line 69, ../sass/screen.scss */
#content {
  position: relative;
}

/* line 73, ../sass/screen.scss */
#content {
  background: rgba(118, 142, 140, 0.8);
}

/* line 78, ../sass/screen.scss */
#landing {
  background: rgba(161, 193, 190, 0.5);
  height: 540px;
  position: relative;
  overflow: hidden;
}
/* line 85, ../sass/screen.scss */
#landing #header {
  margin-top: 15%;
  display: block;
  font-size: 2em;
  font-family: 'Raleway', 'sans-serif';
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  padding-top: 40px;
}
@media screen and (min-width: 640px) {
  /* line 85, ../sass/screen.scss */
  #landing #header {
    position: absolute;
    left: 50%;
    margin-left: -25%;
  }
}
/* line 102, ../sass/screen.scss */
#landing #header p {
  margin: 1em;
  line-height: 1.1em;
}
/* line 108, ../sass/screen.scss */
#landing #header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2em;
}
/* line 114, ../sass/screen.scss */
#landing #header h1 .jedd {
  font-weight: 500;
  color: black;
}
/* line 120, ../sass/screen.scss */
#landing #header h1 .ahyoung {
  font-weight: 300;
  color: white;
}

/* line 129, ../sass/screen.scss */
.video {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 960px;
  height: auto;
  opacity: 0.1;
}
/* line 138, ../sass/screen.scss */
.video embed {
  width: 100%;
}

/* line 145, ../sass/screen.scss */
.wrapper {
  position: relative;
}
@media screen and (min-width: 640px) {
  /* line 145, ../sass/screen.scss */
  .wrapper {
    margin: auto;
    width: 960px;
  }
}
@media screen and (max-width: 640px) {
  /* line 145, ../sass/screen.scss */
  .wrapper {
    width: 100%;
    margin: 0;
  }
}

/* line 158, ../sass/screen.scss */
#nav {
  background: white;
  height: 30px;
  margin: 0 0 -15px 0;
  position: relative;
  top: -15px;
}
@media screen and (min-width: 640px) {
  /* line 158, ../sass/screen.scss */
  #nav {
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
  }
}
/* line 169, ../sass/screen.scss */
#nav ul {
  background: black;
  width: 100%;
  margin: 0;
  padding: .5em 0;
}
/* line 176, ../sass/screen.scss */
#nav ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 183, ../sass/screen.scss */
#nav ul li a {
  margin: 0;
  padding: .5em 2em;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1em;
}
/* line 196, ../sass/screen.scss */
#nav ul li a:hover {
  border-bottom: .2em solid white;
  padding-bottom: .3em;
}

/* line 207, ../sass/screen.scss */
#body {
  min-height: 500px;
  width: 100%;
  overflow: auto;
}

/* line 214, ../sass/screen.scss */
.chapter {
  text-align: left;
  font-family: 'Muli', 'sans-serif';
  font-weight: 300;
  line-height: 1.4em;
  clear: both;
}

/* line 224, ../sass/screen.scss */
#main h3 {
  font-family: sans-serif;
  font-variant: small-caps;
  border-bottom: 3px solid red;
}
/* line 231, ../sass/screen.scss */
#main h4 {
  font-family: serif;
}
/* line 236, ../sass/screen.scss */
#main a {
  text-decoration: none;
}
/* line 240, ../sass/screen.scss */
#main a:hover {
  text-decoration: underline;
  color: red;
}
/* line 246, ../sass/screen.scss */
#main a:visited {
  color: #336633;
}
/* line 252, ../sass/screen.scss */
#main dt {
  font-style: italic;
  padding: .5em 0 .5em 0;
}
/* line 258, ../sass/screen.scss */
#main dd.explain {
  margin: 0;
  padding-bottom: .5em;
}

/* line 265, ../sass/screen.scss */
#resume {
  background: #ebebeb;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 640px) {
  /* line 265, ../sass/screen.scss */
  #resume {
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* line 274, ../sass/screen.scss */
#sidebar {
  background: #9999bb;
  float: right;
  width: 30%;
  min-height: 30em;
}

/* line 282, ../sass/screen.scss */
#footer {
  padding-top: 2em;
  color: white;
  clear: both;
  font-family: sans-serif;
  text-align: center;
}

/* line 292, ../sass/screen.scss */
.codewrapper {
  background: white;
  padding: 1em;
}

/* line 298, ../sass/screen.scss */
#about {
  background: white;
  border: 0;
}

@media screen and (max-width: 640px) {
  /* line 303, ../sass/screen.scss */
  .moneyshot {
    width: 100%;
    height: auto;
  }
}

/* line 311, ../sass/screen.scss */
.column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
/* line 317, ../sass/screen.scss */
.column p {
  margin: 1em;
}

/* line 323, ../sass/screen.scss */
.caption {
  padding: .5em .5em .5em .5em;
  height: 9em;
  font-size: 2.5em;
  line-height: 1.2em;
  font-family: 'Rock Salt', serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
/* line 335, ../sass/screen.scss */
.caption span {
  display: block;
  position: relative;
  top: .5em;
  left: .2em;
  -webkit-transform:  scale(1, 1) rotateZ(-5deg);
  -moz-transform:  scale(1, 1) rotateZ(-5deg);
  -ms-transform:  scale(1, 1) rotateZ(-5deg);
  -o-transform:  scale(1, 1) rotateZ(-5deg);
  transform:  scale(1, 1) rotateZ(-5deg);
}

/* line 346, ../sass/screen.scss */
a.icon {
  display: inline-block;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 2px;
}
/* line 354, ../sass/screen.scss */
a.icon:before {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 359, ../sass/screen.scss */
a.icon:hover {
  color: white;
}
/* line 364, ../sass/screen.scss */
a.icon:hover:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

/* line 371, ../sass/screen.scss */
.overflow-container {
  overflow: hidden;
}

/* line 376, ../sass/screen.scss */
.height-480 {
  height: 480px;
}

/* line 381, ../sass/screen.scss */
.height-360 {
  height: 360px;
}

/* line 386, ../sass/screen.scss */
.height-320 {
  height: 320px;
}

/* line 391, ../sass/screen.scss */
.height-240 {
  height: 240px;
}

/* line 396, ../sass/screen.scss */
.height-160 {
  height: 160px;
}

/* line 400, ../sass/screen.scss */
.resume-page {
  margin-top: -40px;
  height: 400px;
}
/* line 404, ../sass/screen.scss */
.resume-page a {
  -webkit-transform:  scale(1, 1) rotateZ(5deg);
  -moz-transform:  scale(1, 1) rotateZ(5deg);
  -ms-transform:  scale(1, 1) rotateZ(5deg);
  -o-transform:  scale(1, 1) rotateZ(5deg);
  transform:  scale(1, 1) rotateZ(5deg);
  position: relative;
  top: -8px;
  left: -15px;
  display: inline-block;
  margin: 40px 40px;
  -webkit-transition: 0.2s all, 1s;
  -moz-transition: 0.2s all, 1s;
  -o-transition: 0.2s all, 1s;
  transition: 0.2s all, 1s;
}
/* line 414, ../sass/screen.scss */
.resume-page a:hover {
  -webkit-transform:  scale(1.05, 1.05) rotateZ(5deg);
  -moz-transform:  scale(1.05, 1.05) rotateZ(5deg);
  -ms-transform:  scale(1.05, 1.05) rotateZ(5deg);
  -o-transform:  scale(1.05, 1.05) rotateZ(5deg);
  transform:  scale(1.05, 1.05) rotateZ(5deg);
}
/* line 418, ../sass/screen.scss */
.resume-page a:after {
  -webkit-transition: 0.2s all, 1s;
  -moz-transition: 0.2s all, 1s;
  -o-transition: 0.2s all, 1s;
  transition: 0.2s all, 1s;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../images/pdf.png") no-repeat 40% 20%;
  border: 2px solid #ebebeb;
  opacity: 0;
}
/* line 432, ../sass/screen.scss */
.resume-page a:hover:after {
  background: rgba(255, 255, 255, 0.8) url("../images/pdf.png") no-repeat 37% 20%;
  border: 2px solid #d00;
  opacity: 1;
}
/* line 440, ../sass/screen.scss */
.resume-page img {
  border: 2px solid #ebebeb;
}
