/*

white: FFFFFF;
happy up here: A1C1BE;
stomp: 59554E;
remind me: F3F4E5;
clean sweep: E2E3D9;

*/
* {
	box-sizing: border-box;
}

body
{
	background: #E2E3D9;
	padding: 0;
	margin: 0;
}

/* For testing only - wireframing.
div
{
	border: 1px solid red !important;
	margin: 0;
	padding: 0;
}
*/

/* For dumbass IE. Damn you, M$. */
div#content
{
	position: relative;
}

div#wrapper
{
	width: 960px;
	margin: auto;

	position: relative;
}

div#header
{
}

div#nav
{
}

div#nav ul
{
	background: #59554E;
	width: 100%;
	margin: 0;
	padding: .5em 0;
}

div#nav ul li
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#nav ul li a
{
	margin: 0;
	padding: .5em 2em;
	text-transform: uppercase;
	vertical-align: middle;

	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1em;
}

div#nav ul li a:hover
{
	border-bottom: .2em solid #d50202;
	padding-bottom: .3em;
}

div#body
{
	background: white;
	min-height: 500px;
	width: 100%;
	overflow: auto;
}

.chapter
{
	background: white;
	padding: 1em;
	text-align: left;
	font-family: 'PT Sans Caption', 'sans-serif';
	clear:both;
}

div#main h3
{
	font-family: sans-serif;
	font-variant: small-caps;
	border-bottom: 3px solid red;
}

div#main h4
{
	font-family: serif;
}

div#main a
{
	text-decoration: none;
}

div#main a:hover
{
	text-decoration: underline;
	color: red;
}

div#main a:visited
{
	color: #336633;
}

div#main dt
{
	font-style: italic;
	padding: .5em 0 .5em 0;
}

div#main dd.explain
{
	margin: 0;
	padding-bottom: .5em;
}

div#sidebar
{
	background: #9999bb;
	float: right;
	width: 30%;
	min-height: 30em;
}

div#footer
{
	background: #59554E;
	padding-top: 2em;
	color: black;
	font-family: 'PT Sans Caption', 'sans-serif';
	clear:both;
}

div.codewrapper
{
	background: white;
	padding: 1em;
}

div.codewrapper pre
{
	
}

.column
{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0;
}

.caption
{
	padding: .5em .5em .5em .5em;
	height: 9em;

	font-size: 2.5em;
	font-family: serif;
	font-style: italic;
	color: #A1C1BE;
}

iframe.googleframe
{
	display: block;
	border: 0;
	margin: 0 auto;
}
