/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

// Variables.

$happyuphere: #A1C1BE;
$stomp: #59554E;
$remindme: #F3F4E5;
$cleansweep: #E2E3D9;

$width: 960;
$phonewidth: 640;

@function px($value) {
	@return $value * 1px;
}

@mixin respond-to($media) {
	@if $media == phone {
		@media screen and (max-width: 640px) { @content; }
	}
	@else if $media == screen {
		@media screen and (min-width: 640px) { @content; }
	}
}

@include respond-to(phone) {
	.on-2
	{
		width: 100%;
	}

	.on-3
	{
		width: 100%;
	}

	.on-4
	{
		width: 100%;
	}

	* {
		box-sizing: border-box;
	}

	body
	{
		background: #666666;
		padding: 0;
		margin: 0;
	}

	/* For dumbass IE. Damn you, M$. */
	#content
	{
		position: relative;
	}

	#content {
		background: rgba(118, 142, 140, 0.8);
	}

	#landing
	{
		background: rgba(161, 193, 190, 0.5);
		height: 540px;
		position: relative;
		overflow: hidden;

		#header
		{
			margin-top: 15%;
			display: block;
			font-size: 2em;
			font-family: 'Raleway', 'sans-serif';
			text-transform: uppercase;
			text-align: center;
			font-weight: 100;
			padding-top: 40px;

			p
			{
				margin: 1em;
				line-height: 1.1em;
			}

			h1
			{
				margin: 0;
				font-weight: 300;
				font-size: 2em;

				.jedd
				{
					font-weight: 500;
					color: black;
				}

				.ahyoung
				{
					font-weight: 300;
					color: white;
				}
			}
		}
	}

	.video
	{
		position: absolute;
		top: 0;
		width: 100%;
		min-width: px($width);
		height: auto;
		opacity: 0.1;

		embed
		{
			width: 100%;
		}
	}


	.wrapper
	{
		width: 100%;
		margin: 0;
		position: relative;
	}

	#nav
	{
		background: white;
		height: 30px;
		margin: 0 0 -15px 0;
		position: relative;
		top: -15px;

		ul
		{
			background: black;
			width: 100%;
			margin: 0;
			padding: .5em 0;

			li
			{
				display: inline;
				list-style-type: none;
				margin: 0;
				padding: 0;

				a
				{
					margin: 0;
					padding: .5em 2em;
					text-transform: uppercase;
					vertical-align: middle;

					color: white;
					text-decoration: none;
					font-weight: bold;
					font-family: sans-serif;
					font-size: 1em;

					&:hover
					{
						border-bottom: .2em solid white;
						padding-bottom: .3em;
					}
				}
			}
		}
	}


	#body
	{
		min-height: 500px;
		width: 100%;
		overflow: auto;
	}

	.chapter
	{
		text-align: left;
		font-family: 'Muli', 'sans-serif';
		font-weight: 300;
		line-height: 1.4em;
		clear:both;
	}

	#main {
		h3
		{
			font-family: sans-serif;
			font-variant: small-caps;
			border-bottom: 3px solid red;
		}

		h4
		{
			font-family: serif;
		}

		a
		{
			text-decoration: none;

			&:hover
			{
				text-decoration: underline;
				color: red;
			}

			&:visited
			{
				color: #336633;
			}
		}

		dt
		{
			font-style: italic;
			padding: .5em 0 .5em 0;
		}

		dd.explain
		{
			margin: 0;
			padding-bottom: .5em;
		}
	}

	#resume
	{
		background: #ebebeb;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}

	#sidebar
	{
		background: #9999bb;
		float: right;
		width: 30%;
		min-height: 30em;
	}

	#footer
	{
		// background: rgba(0, 0, 0, 0.5);
		// padding-top: 2em;
		background: rgba(0, 0, 0, 0.3);
		color: white;
		clear:both;
		font-family: sans-serif;
		text-align: center;
		border-top: 10px solid #ebebeb;

		.attribution {
			display: none;
		}
	}

	.codewrapper
	{
		background: white;
		padding: 1em;
	}

	#about
	{
		background: white;
		border: 0;
	}

	.moneyshot {
		display: none;
		width: 100%;
		height: auto;
		opacity: .2;
		margin-top: -400px;
	}

	.column
	{
		display: inline-block;
		vertical-align: top;
		margin: 0;

		p
		{
			margin: 1em;
		}
	}

	.caption
	{
		padding: .5em .5em .5em .5em;
		// max-height: 9em;

		font-size: 2.2em;
		line-height: 1em;
		font-family: 'Rock Salt', serif;
		font-style: italic;
		color: rgba(0, 0, 0, 0.5);
		position: relative;

		span
		{
			display: block;
		}
	}


	a.icon
	{
		display: inline-block;
		font-size: 80px;
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		padding: 2px;

		&:before
		{
			@include single-transition(all, 1s);
		}

		&:hover
		{
			color: rgba(255, 255, 255, 1);
		}

		&:hover:before
		{
			@include single-transition(all, .5s);
			color: rgba(255, 255, 255, 1);
		}
	}

	.overflow-container
	{
		overflow: hidden;
	}

	.height-480
	{
		max-height: 480px;
	}

	.height-360
	{
		max-height: 360px;
	}

	.height-320
	{
		max-height: 320px;
	}

	.height-240
	{
		max-height: 240px;
	}

	.height-160
	{
		max-height: 160px;
	}

	.resume-page {
		// margin-top: -40px;
		height: 400px;

		a {
			display: block;
			position: relative;

			img {
				width: 100%;
				height: auto;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: transparent url("../images/pdf.png") no-repeat 40% 20%;
			}
		}
	}
}

