/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$happyuphere: #A1C1BE;
$stomp: #59554E;
$remindme: #F3F4E5;
$cleansweep: #E2E3D9;

* {
	box-sizing: border-box;
}

body
{
	background: $cleansweep url("../images/landingbg.png") fixed;
	padding: 0;
	margin: 0;
}

/* For dumbass IE. Damn you, M$. */
#content
{
	position: relative;
}

#content {
	background: rgba(118, 142, 140, 0.8);	
}

#landing
{
	background: rgba(161, 193, 190, 0.5);
	height: 540px;
	position: relative;
	overflow: hidden;

	#header
	{
		position: absolute;
		left: 50%;
		margin-left: -25%;
		margin-top: 15%;
		display: block;
		font-size: 2em;
		font-family: 'Raleway', 'sans-serif';
		text-transform: uppercase;
		text-align: center;
		font-weight: 100;
		padding-top: 40px;

		p
		{
			margin: 1em;
			line-height: 1.1em;
		}

		h1
		{
			margin: 0;
			font-weight: 300;
			font-size: 2em;

			.jedd
			{
				font-weight: 500;
				color: black;
			}

			.ahyoung
			{
				font-weight: 300;
				color: white;
			}
		}
	}
}

.video
{
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 960px;
	height: auto;
	opacity: 0.1;

	embed
	{
		width: 100%;
	}
}


.wrapper
{
	width: 960px;
	margin: auto;
	position: relative;
}

#nav
{
	background: white;
	height: 30px;
	margin: 0 0 -15px 0;
	position: relative;
	top: -15px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

	ul
	{
		background: black;
		width: 100%;
		margin: 0;
		padding: .5em 0;
	
		li
		{
			display: inline;
			list-style-type: none;
			margin: 0;
			padding: 0;

			a
			{
				margin: 0;
				padding: .5em 2em;
				text-transform: uppercase;
				vertical-align: middle;

				color: white;
				text-decoration: none;
				font-weight: bold;
				font-family: sans-serif;
				font-size: 1em;

				&:hover
				{
					border-bottom: .2em solid white;
					padding-bottom: .3em;
				}
			}
		}
	}
}


#body
{
	min-height: 500px;
	width: 100%;
	overflow: auto;
}

.chapter
{
	text-align: left;
	font-family: 'Muli', 'sans-serif';
	font-weight: 300;
	line-height: 1.4em;
	clear:both;
}

#main {
	h3
	{
		font-family: sans-serif;
		font-variant: small-caps;
		border-bottom: 3px solid red;
	}

	h4
	{
		font-family: serif;
	}

	a
	{
		text-decoration: none;

		&:hover
		{
			text-decoration: underline;
			color: red;
		}

		&:visited
		{
			color: #336633;
		}
	}

	dt
	{
		font-style: italic;
		padding: .5em 0 .5em 0;
	}

	dd.explain
	{
		margin: 0;
		padding-bottom: .5em;
	}
}

#resume
{
	background: #ebebeb;
}

#sidebar
{
	background: #9999bb;
	float: right;
	width: 30%;
	min-height: 30em;
}

#footer
{
	background: rgba(0, 0, 0, 0.5);
	padding-top: 2em;
	color: white;
	clear:both;
	font-family: sans-serif;
}

.codewrapper
{
	background: white;
	padding: 1em;
}

#about
{
	background: white;
	border: 0;
}

.column
{
	display: inline-block;
	vertical-align: top;
	margin: 0;

	p
	{
		margin: 1em;
	}
}

.on-2
{
	width: 480px;
}

.on-3
{
	width: 320px;
}

.on-4
{
	width: 240px;
}

.caption
{
	padding: .5em .5em .5em .5em;
	height: 9em;

	font-size: 2.5em;
	line-height: 1.2em;
	font-family: 'Rock Salt', serif;
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
	position: relative;

	span
	{
		display: block;
		position: relative;
		top: .5em;
		left: .2em;
		-webkit-transform: rotate(-5deg);
	}
}

.footer {

}
a
{
	font-size: 3em;
	color: #E2E3D9;
	text-decoration: none;
	transition: all 2s linear;

	&:hover
	{
		color: #F3F4E5;
	}

	&:hover:before
	{
		color: #F3F4E5;
	}
}

.overflow-container
{
	overflow: hidden;
}

.height-360
{
	height: 360px;
}

.height-320
{
	height: 320px;
}

.height-240
{
	height: 240px;
}

.resume-page img
{
	-webkit-transform: rotate(5deg);
	border: 1px solid #999;
	position: relative;
	top: -65px;
	left: -15px;
	display: block;
	margin: 40px auto;

	transition: .2s all ease-in-out;

	&:hover {
		-webkit-transform: rotate(5deg) scale(1.05);
	}
}